* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1050px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: url(../assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ancients__display {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.ancients {
  min-width: 220px;
  height: 300px;
  border-radius: 10px;
  transition: 0.3s;
}

.ancients:hover {
  scale: 1.03;
}

.ancients:active {
  scale: 0.97;
}

.azathoth {
  background-image: url(../assets/Ancients/Azathoth.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}

.cthulhu {
  background-image: url(../assets/Ancients/Cthulthu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}

.iogSothoth {
  background-image: url(../assets/Ancients/IogSothoth.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}

.shubNiggurath {
  background-image: url(../assets/Ancients/ShubNiggurath.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}

.active_ancient {
  border: 2px solid rgb(36, 153, 231);
}

.difficulty__display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.difficulty__buttons {
  width: 150px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  color: rgb(221, 216, 216);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  transition: 0.3s;
}

.difficulty__buttons:hover {
  scale: 1.05;
}

.difficulty__buttons_active {
  background-color: rgb(238, 74, 128);
}

.difficulty__display_hidden {
  visibility: hidden;
}

.deck-button__display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shuffle-button {
  background-color: rgba(99, 236, 191, 0.3);
  border-radius: 10px;
  border: 1px solid white;
  width: 150px;
  height: 55px;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 20px;
  font-weight: 400;
  color: rgb(231, 219, 218);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.2s;
}

.shuffle-button:hover,
.shuffle-button:active {
  background-color: rgba(99, 147, 236, 0.3);
}

.deck-button__display_hidden {
  visibility: hidden;
}

.deck__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: -15px;
}

.deck__container_number {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-center {
  text-align: center;
}

.deck_oppacity {
  opacity: 0.5;
}

.stage {
  text-align: center;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 25px;
  font-weight: 400;
  color: rgb(231, 219, 218);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.stage-number__display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.numbers {
  display: flex;
  justify-content: center;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  color: rgb(231, 219, 218);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  transition: 0.3s;
}

.green {
  width: 48px;
  height: 48px;
  background-color: rgba(0, 128, 0, 0.5);
  border: 1px solid rgba(209, 209, 209, 0.5);
  border-radius: 20%;
}

.brown {
  width: 48px;
  height: 48px;
  background-color: rgba(165, 42, 42, 0.5);
  border: 1px solid rgba(209, 209, 209, 0.5);
  border-radius: 20%;
}

.blue {
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 255, 0.5);
  border: 1px solid rgba(209, 209, 209, 0.5);
  border-radius: 20%;
}

.deck {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  width: 230px;
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid rgb(36, 153, 231);
  border-radius: 10px;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 25px;
  font-weight: 400;
  color: rgb(231, 219, 218);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.2s;
}

.deck:active {
  scale: 0.95;
}

.card {
  width: 230px;
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid rgb(155, 47, 130);
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.hidden {
  visibility: hidden;
}

.no-click {
  pointer-events: none;
}

.language {
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 15px;
  font-weight: 400;
  color: rgb(231, 219, 218);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  cursor: pointer;
  
}

.rus,
.eng {
  display: inline-block;
  transition: 0.3s;
}

.rus:hover,
.eng:hover {
  scale: 1.1;
  color: rgb(228, 131, 41);
}

.rus:active,
.eng:active {
  scale: 0.9;
}

.language-active {
  color: rgb(208, 219, 113);
}

.margin {
  margin-left: 15px;
}
